/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette, 100);
$accent: mat.define-palette(mat.$pink-palette, A800, A500, A500);

// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette(mat.$red-palette);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
